#event-calendar{
    margin: auto;
    text-align: center;
}
#event-button{
    text-align: center;
    color: white;
    background-color: green;
}
.buttons{
    margin: auto;
    text-align: center;
}
