html{
	height: 100vh;
}

body{
	height: 100vh;
}

#page-content-wrapper{
	height: calc(100vh - 65px);
	background-size: cover;
	background-image: no-repeat;
	background-image: center center;
	overflow: auto;
}