html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body { 
  padding-top: 65px; 
}

.widget-delete-btn {
  float:right;
  display:inline-block;
  padding: 2px 8px;
  background:#ccc;
  border-radius: 2px;
}

.site-icon{
  margin-right:5px;
}

.nav-auto-spacing{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.search-query-input{
  width: 140px  !important;
  margin-left: 10px !important;
  margin-right: .5rem !important;
}

#notifications-count {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 2px;
  right: 18px;
}

.dropdown-toggle::after{
  display: inline;
  float: right;
  position: absolute;
  margin-top: 10px;
}

.dropdown-menu {
  margin-top: 5px;
  background-color: #171a1c;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu-head{
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  text-align: left;
}

.dropdown-menu-head img{
  height: 30px;
  width:  30px;
  display: inline-block;
}

.dropdown-menu-head .dropdown-profile-info{
  display: inline-block;
}

.dropdown-menu-head .dropdown-item{
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.dropdown-menu-head .dropdown-item:hover{
  background: none;
}

.dropdown-menu-head:hover .dropdown-item{
  text-decoration: none;
}

.dropdown-menu hr {
  background-color:#292b2c;
  height:1px;
  border-radius: 10px  
}

.dropdown-item {
  color: #999999;
}

.dropdown-item img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdown-item:hover{
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

#profile-dropdown-menu {
  min-width: 350px;
}

.navbar-icon{
  width: 30px;
  height: 30px;  
}

#profile-dropdown img{
  width: 30px;
  height: 30px;
}

#notification-dropdown-menu {
  min-width:  350px;
}

#notification-dropdown img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.page-body {
	margin-top: 40px;
    min-height: 100% !important;
    height: 100%;

}

.btn-primary {
  background-color: #575a5b;
  border:0;
  font-family: Raleway;
}

.btn-primary:hover{
   background-color: #464849;
}

.btn-primary:focus,.btn-primary:active {
  background-color: #313435;
  outline: none !important;
  -webkit-box-shadow: inset 0px 0px 7px black;
     -moz-box-shadow: inset 0px 0px 7px black;
          box-shadow: inset 0px 0px 7px black;
}

.btn-outline-primary{
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.5);
}

.btn-outline-primary:hover{
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,.5);
  background-color: rgba(255,255,255,.5);
}

.btn-outline-primary:active {
  background-color: #313435;
  outline: none !important;
  -webkit-box-shadow: inset 0px 0px 7px black;
     -moz-box-shadow: inset 0px 0px 7px black;
          box-shadow: inset 0px 0px 7px black;
}

.btn-outline-primary:focus{
  outline: 0 !important;
  -webkit-box-shadow: inset 0px 0px 0px black;
     -moz-box-shadow: inset 0px 0px 0px black;
          box-shadow: inset 0px 0px 0px black;
}

.community-icon{
  height: 30px;
  width: 30px;
}

.profile-avatar{
  height: 30px;
  width: 30px; 
}

.profile-avatar-lg{
  height: 80px;
  width: 80px; 
}