ul.results-list{
	list-style-type:none;
}

ul.results-list li{
	margin-bottom: 10px;
}

ul.results-list li a{
	text-decoration: none;
}

.extra{
	display: none;
}

.search-results-column{
	margin-bottom: 10px;
}

.search-results-table-title{
	padding: 10px;
	cursor: pointer;
	color: #fff;
	background: #292b2c;
	border-radius: 3px 3px 0px 0px;
	margin-bottom: 0;
}
.search-results-table-title:hover{
	background: rgba(0,0,0,0.7);
}

.disabled-col{
	padding-right: 15px;
	padding-left: 15px;
}