#filter-btn {
	background: transparent;
	border: 0;
	outline:none
}

#filter-btn:active {
	background: rgba(0,0,0,0.1);
	outline:none;
	border-radius: 3px;
}

#filter-btn:focus {
	outline:none;
}

#filter-btn img{
	cursor: pointer;
	height: 40px;width: 40px;
}

.arrow-down{
	margin-left: 3px;
	margin-top: 5px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #0275d8;
}

.arrow-up{
	margin-left: 3px;
	margin-top: 5px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #0275d8;	
}

.advanced-search-button{
	color:#0275d8;
	cursor: pointer;
	user-select: none;
	margin-left: 20px;
}

ul.results-list{
	list-style-type:none;
}

ul.results-list li{
	margin-bottom: 10px;
}

ul.results-list li a{
	text-decoration: none;
}