body {
  overflow-x: hidden;
}

.sidebar-toggler{
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  display: inline-block;
}

.sidebar-toggler:focus, .sidebar-toggler:hover {
  text-decoration: none;
  outline: none;
}

@media (max-width: 575px) {
  .sidebar-toggleable .sidebar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .sidebar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.sidebar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dropup.show #friends-list{
  box-shadow: 0 0 0 2px rgba(204,204,204,.5);
}

#wrapper.toggled {
  padding-left: 250px;
}


#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: calc(100vh - 65px - 22px);
  margin-left: -250px;
  overflow-y: auto;
  background: #171a1c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a,.sidebar-nav li h5 {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.sidebar-nav li hr{
  background-color:#292b2c;
  height:1px;
  border-radius: 10px 
}

.sidebar-nav li a.active,.sidebar-nav li h5.active{
  color:white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:hover.sidebar-title {
  text-decoration: none;
  color: #999999;
  background: #171a1c;
}

.sidebar-btn{
  margin-top:10px!important;
  margin-bottom:10px!important; 
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

@media(min-width:768px) {
  .sidebar-collapse {
    display: none;
  }
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}