<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4BAR - Community Creation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/cc_wizard.css">

    <link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css" /> 
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">4BAR</a>

      <div class="collapse navbar-collapse" >
        <form class="form-inline my-2 my-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/cc_wizard">Community Creation</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{{username}}}'s Profile</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="\profile">View</a>
              <a class="dropdown-item" href="\logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

     <div class="container" style="margin-top:10px;">
      <div class="row">
        <div class="col-md-6" style="margin:auto">
          <form action="/cc_submit" method="post" role="form" encType="multipart/form-data">
            <fieldset><legend class="text-center">Community Creation Wizard</legend>

              <div class="form-group">
              <label for="phonenumber"><span class="req">* </span> Name: </label>
                      <input required type="text" name="c_name" id="c_name" class="form-control" autocomplete="off" /> 
              </div>

              <div class="form-group">   
                  <label for="firstname"><span class="req"> </span> Description: </label>
                  <textarea class="form-control" type="text" name="c_description" rows="5" id="c_description"  autocomplete="off"  /> </textarea> 
              </div>

              <div class="form-group">
                  <label for="lastname"><span class="req"> </span> Icon: </label> 
                  <input type="file" class="form-control-file" name="c_icon" id="c_icon" aria-describedby="fileHelp">
              </div>

              <div class="form-group">
                  <label for="email"><span class="req"> </span> Wallpaper: </label> 
                  <input type="file" class="form-control-file" name="c_wallpaper" id="c_wallpaper" aria-describedby="fileHelp">
              </div>

              <div class="form-group">
                <input name="tags" id="c_tags"/>
              </div>

              <hr>

              <div class="form-group">
                  <input class="btn btn-primary" type="submit" name="submit_reg" value="Submit">
              </div>
              <div id="success_container" style="margin-top:20px;">
              </div>
              <div id="error_container" style="margin-top:20px;">
              </div>
              </div>
            </fieldset>
          </form>
      </div>
    </div>

    <script src="/js/url_parser.js"></script>
    <script src="/js/url_message.js"></script> 

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <script src="/js/jquery.tagsinput.js"></script>
    <script type="text/javascript">
      $('#c_tags').tagsInput();
    </script>
  </body>

</html>
