<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4BAR - Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin=""/>
		
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">let socket = io();</script>

    <script type="text/javascript">
      socket.emit('communities_req');
    </script>
    
 </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">4BAR</a>

      <div class="collapse navbar-collapse" >

        <form class="form-inline my-2 my-md-0" action="/search" method="GET">
            <input name="query" class="form-control mr-sm-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cc_wizard">Community Creation</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/past_matches">My Matches</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{{username}}}'s Profile</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="\profile?id={{user_id}}">View</a>
              <a class="dropdown-item" href="\logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id="no-communities" class="jumbotron" style="display:none">
      <div class="container">
        <h1 class="display-3">Hello, {{{username}}}!</h1>
        <p>It looks like you haven't added any communities yet. Community interaction is a great way to build your profile.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container" style="margin-top: 40px; margin-bottom: 40px">
      <div class="row">
		<div id="mapid" class="col-md-6"></div>
		<div class="col-md-6">
			<table class="table table-responsive">
			  <h2>Popular Communities</h2>
				<thead>
				  <tr>
					<th scope="col"></th>
					<th scope="col" style="min-width: 150px"></th>
					<th scope="col">Description</th>
					<th scope="col">Recent Activity</th>
				  </tr>
				</thead>
				<tbody id="c_table">
				</tbody>
			</table>
		</div>
      </div>
    </div>

    {{#unless is_member}}
      <script type="text/javascript">
      document.getElementById('no-communities').style="display:block;"
      </script>
    {{/unless}}
	
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin="">
   </script>
   
   <script>
    var map = L.map('mapid',{
    center: [37.951424, -91.768959],
    zoom: 15
    });
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
	</script>
    <script type="text/javascript">
      const c_search_list = document.getElementById('c_search_list');

      socket.on('communities_res',function(coms){
        while (c_table.firstChild) {
            c_table.removeChild(c_table.firstChild);
        }
        for(let com in coms){
          if(coms.hasOwnProperty(com)){
            let new_row = document.createElement('tr');
            new_row.classList.add('clickable_row');
            new_row.setAttribute('href',coms[com].url);

            let new_icon_col = document.createElement('td');
            let new_icon = document.createElement('img');
            if(coms[com].icon){
              new_icon.src = coms[com].icon;
            }else{
              new_icon.src = '/site/no-icon.jpg';
            }
            new_icon.style.height = '30px';
            new_icon.style.width = '30px';
            new_icon_col.appendChild(new_icon);
            new_row.appendChild(new_icon_col);

            let new_name_col = document.createElement('th');
            new_name_col.scope = "row";
            new_name_col.innerHTML = coms[com].name;
            new_row.appendChild(new_name_col);

            let new_description_col = document.createElement('td');
            new_description_col.innerHTML = coms[com].description;
            new_row.appendChild(new_description_col);

            let new_recent_activity_col = document.createElement('td');
            new_recent_activity_col.innerHTML = coms[com].last_activity;
            new_row.appendChild(new_recent_activity_col);
            
            new_row.onclick = function(){window.location = coms[com].url};

            c_table.appendChild(new_row);
          }
        }
          
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="/js/NotificationHandler.js"></script>
    <script type="text/javascript">
      let ntf_hndlr = NotificationHandler(
        toastr,
        socket
      );
    </script>

  </body>

</html>
