.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#app-layouts-engine{
  margin-top: 20px;
}

#available-apps-container,
#app-layouts-container{
  margin-top: 10px;
  border-top: 1px black solid;
  padding-top: 10px;
}

.app{
    border: thin solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top:10px;
    margin-bottom:10px;
}

.app-column{
  border: thin solid #ccc;
  min-height:100px;
  float:left;
  margin-left:10px;
  padding:3px;
}

.apps-row{
  margin-top:10px;
  margin-bottom:10px;
  min-height:100px;
}

#app-layouts-holder{
  margin-top: 20px;
}