html, body, .widget-layouts-engine{
    min-height: 100% !important;
    height: 100%;
}
.widget-layouts-engine{
  margin-top: 20px;
}

.widget-layouts-header,
.available-widgets-header{
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}