body { 
	padding-top: 40px; 
}

.page-body{
	margin-top: 40px;
    min-height: 100% !important;
    height: 100%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary{
   background-color: #575a5b;
   border:1px solid black;
}

.btn-primary:hover{
   background-color: #464849;
}

.btn-primary:focus,.btn-primary:active {
  background-color: #313435;
  outline: none !important;
  -webkit-box-shadow: inset 0px 0px 7px black;
     -moz-box-shadow: inset 0px 0px 7px black;
          box-shadow: inset 0px 0px 7px black;
}